<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templaye2">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.1.1/js/bootstrap.bundle.js"></script>

</head>
<body>
    <div layout:fragment="cont1">
        <div class="alert alert-danger m-3">
            <h2>NOT Authorized</h2>
        </div>

    </div>

</body>
</html>